/* BasicAlerts.css */

.alertStack {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.mainAlert {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    /* Adjust the transition duration as needed */
}

.mainAlert.exiting {
    opacity: 0;
} 